
$alabaster: #F4F4F4;
$black: #000000;
$black-variant: #081c24;
$black-variant-2:#081c22;
$rgb-black: rgba(0, 0, 0, 0.1);
$rgb-black-transparent: rgba(0, 0, 0, 0.6);
$spinner-green:#00C37A;
$spinner-orange:#CDCF50;
$silver: #4d4d4d;
$silver-white: #e3e3e3;
$white:#FFFFFF;




