@import '../../assets/styles/base/colors';

.movie-expo {
    background-image: linear-gradient(to top right, #000000, #0d0d0d);
    height: 80vh;
    width: 100%;
    min-height: 530px;
    background-repeat: no-repeat;
    background-size: cover;
    &:before{
        width: 100%;
        content: "";
        min-height: 550px;
        background-size: cover;
        position: absolute;
        top: 64px;
        z-index: 10;
        background-image: radial-gradient(circle at 20% 50%, rgba(12.94%, 14.90%, 22.75%, 0.98) 0%, rgba(12.94%, 14.90%, 22.75%, 0.88) 100%);
    }
    .movie-background{
        width: 100%;
        min-height: 550px;
        background-size: cover;
        top: 65px;
        position: absolute;
        z-index: 0;
        -webkit-filter: grayscale(100%);
        .movie-content {
            position: relative;
        }
    }
    .movie-content-info{
        position: relative;
        z-index: 500;
        display: flex;
        align-items: flex-start;
        flex-wrap: nowrap;
        padding: 40px 0;
        .movie-content-image{
            display: block;
            width: 300px;
            height: 450px;
            position: relative;
            z-index: 2;
            .image{
                overflow: visible;
                cursor: pointer;
                img{
                    box-shadow: 0 0 4px rgba(0,0,0,0.2);
                    border-radius: 4px;
                }
            }          
        }
        .infos{
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            align-content: center;
            width: 700px;
            box-sizing: border-box;
            padding-left: 40px;
            color: $white;
            .title-movie{
                display: inline-block;
                font-size: 2.4em;
                line-height: 1.1em;
                font-weight: 600;
                margin: 0 5px 4px 0;
            }
            .date-release{
                opacity: 0.6;
                font-size: 1.4em;
                font-weight: 400;
                padding-top: 10px;
            }
            .content-movie-action{
                width: 100%;
                margin-top: 12px;
                .content-text{
                    font-weight: bold;
                    margin-left: 4px;
                    line-height: 1em;
                    white-space: pre-line;
                }
            }
            .sinopse-content{
                width: 100%;
                h4{
                    font-weight: 500;
                    line-height: 1.2em;
                    font-size: 1.2em;
                }
                p{
                    font-size: 1em;
                    line-height: 1.5em;
                    font-weight: 200;
                }
                .cast{
                    padding: 0;
                    list-style: none;
                    a{
                        color: #ffffff;
                        font-weight: 600;
                        font-size: 1em;
                        line-height: 1.4em;
                        text-decoration: none;
                        span{
                            display: block;
                            font-size: 0.9em;
                            font-weight: 200;
                        }
                    }                  
                }
            }
        }
    }
}

.rating-content {
    width: 60px;
    height: 60px;
    box-sizing: border-box;
    background-color: $black-variant-2;
    border-radius: 50%;
    text-align: center;
    float: left;
    position: relative;
    .spinner-rating {
      margin: 4px auto;
    }
    span {
        font-size: 21px;
        color: $white;
        font-weight: 500;
        position: absolute;
        top: 23%;
        left: 31%;
    }
  }

.movie-details{
    margin-top: 8px;
    display: flex;
    flex-direction: column;
}
.movie-nav{
    display: flex;
    flex-direction: column;
    background-color: $white;
    border-top: 1px solid #d7d7d7;
    border-bottom: 1px solid #d7d7d7;
    ul{
        li{
            font-size: 1em;
            padding-top: 18px;
            padding-bottom: 18px;
            display: flex;
            align-items: center;
            align-content: center;;
            float: left;
            a{
                font-size: 1.1em;
                font-weight: 600;
                color:$black;
            }
        }
    }
}


.content-tab{
    .cast-list{
        list-style: none;
        .title-cast{
            font-weight: 600;
            font-size: 1.4em;
            margin-bottom: 20px;
            padding: 0 10px;
        }
        .cast-card{
            cursor: pointer;
            width: 140px;
            background-color:$white;
            box-sizing: border-box;
            margin: 0 0 10px 10px;
            border: 1px solid #e3e3e3;
            padding: 0 0 10px;
            box-shadow: 0 2px 8px rgba(0,0,0,0.1);
            float: left;
            img{
                width: 138px;
                height: 175px;
                display: block;
            }
            .content-cast{
                height:72px;
                padding: 10px 10px 0;
                p{
                    font-size: 1em;
                    line-height: 1.4em;
                    margin: 0;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    width:100%;
                }
                .description{
                    font-size: 0.9em;
                }
            }
        }

    }
}



